<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MLC Carpio Diseño Creativo</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/index.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--[if gte IE 9]>
    <style type="text/css">
        .gradient {
            filter: none;
        }
    </style>
    <![endif]-->
</head>
<body>

<header>
    <img src="../img/logo-01.png">

    <div></div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div id="container">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
                    <li><a href="#profile" data-toggle="tab">Qui&eacute;n soy</a></li>
                </ul>
                <div class="tab-content-parent">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="home">
                            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master
                                cleanse.
                                Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
                                Cosby
                                sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis
                                cardigan
                                american apparel, butcher voluptate nisi qui.</p>

                            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master
                                cleanse.
                                Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
                                Cosby
                                sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis
                                cardigan
                                american apparel, butcher voluptate nisi qui.</p>

                            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master
                                cleanse.
                                Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
                                Cosby
                                sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis
                                cardigan
                                american apparel, butcher voluptate nisi qui.</p>
                        </div>
                        <div class="tab-pane fade" id="profile">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="../img/lu-01.png">
                                </div>
                                <div class="col-md-8">
                                    <div class="my-content">
                                        <h2>Quién soy</h2>

                                        <p>Mi nombre es María Lucía Carpio, Licenciada en Diseño Gráfico.
                                            Elegí esta carrera porque amo crear, diseñar y plasmar todo
                                            lo que se me viene a la mente.</p>

                                        <p>Realicé varios cursos especializados, que me permitieron adquirir las
                                            habilidades y conocimientos para ejercer las funciones principales y
                                            las exigencias de cada desafio comunicacional.</p>

                                        <p>Me considero una persona que busca nuevos retos, por esto mismo,
                                            es que trabajo con un alto compromiso laboral, incorporando
                                            un valor agregado a cada pieza.</p>

                                        <p><strong>Vivo y Respiro diseño y cuando no lo estoy haciendo,
                                            me encontrarás tratando de conquistar al mundo!!!</strong></p>
                                        <img src="../img/firma-01.png" class="pull-right">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="row contact-footer layout-opacity">
        <div class="col-md-4" id="socialNetworks">
            <h3>Encontrame en las Redes Sociales</h3>
            <ul>
                <li>
                    <p><span>Facebook: </span><a href="https://www.facebook.com/Mlccarpio" target="_blank">/Mlccarpio</a></p>
                </li>
            </ul>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <h3>Contactame</h3>
            <ul>
                <li><span>E.mail: </span>info@xxxxx.com.ar</li>
                <li><span>Tel: </span>(011) 15-6368-1037</li>
            </ul>
        </div>
    </div>
</div>

<footer>
    <div class="row gradient">
        <div class="row">
            <img src="../img/cuadro-01.png">
        </div>
        <div class="row">
        </div>
        <div class="row">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul>
                <li>Diseño Gr&aacute;fico</li>
                <li>Diseño Web - MLC &reg; Copyright 2014</li>
                <li>Todos los derechos reservados</li>
            </ul>
        </div>
    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script type="text/javascript" src="js/index.js"></script>
</body>
</html>